<div class="modules">
    <div class="modules-left">
        <a>
            Education
        </a>
    </div>
    <div class="modules-right">
        <ul class="education">
            <li>University of Massachusetts-Lowell - 2000</li>
            <li>
                <span class="uml"><img src="assets/images/uml_logo_stacked.jpg" alt="University of Massachusetts - Lowell" /></span>
                <ul>
                    <li>Bachelor of Music - Sound Recording Technology</li>
                    <li>Cum Laude</li>
                    <li>President - Audio Engineering Society Student Chapter</li>
                </ul>
            </li>
        </ul>
    </div>
</div>