<header>
    <div class="logo">
        <img id="logo" src="assets/images/logo1/cover.png" alt="" />
    </div>
    <div class="subhead">
        Solutions Architect, LAMP stack & web development, database & business rules integration, front-end development, CMS integration, API programming & integration
    </div>
    <div class="media-object">
        <div id="aboutme">
            <img id="imgme" class="img-circle img-responsive" src="assets/images/rob.jpg" alt="" />
            <div>I've been a musician, a teacher, an email marketer, a photographer, a hockey player, and a web developer.</div>
            <div>Through each of those endeavors I've learned teamwork, leadership, the importance of asking questions, and listening. Every voice is relevant, and every perspective is important.</div>
            <div>I've developed on Windows 7 & 10, Ubuntu, Fedora, and MacOS, using native development tools, Hyper-V, VirtualBox, and Docker. Overall, I prefer a Mac.</div>
            <div>It bridges the gap nicely between the software availability of Windows and the ease of use and bash/zsh command line that I love in a *nix box.</div>
        </div>
        <div id="social-contact">
            <div class="printer media-objects">
                <a rel="noopener noreferrer" download href="assets/docs/RobMercier20.pdf">Download my Resume</a>
            </div>
            <div class="contactme">
                <a>{{ '{email.address}' }}</a>
                <a>{{ '{phone.number}' }}</a>
                <a>www.robmercier.me</a>
            </div>
            <div class="social media-objects">
                <span id="findme">Find me on:</span>
                <a rel="noopener noreferrer" id="LinkedIn" href="https://www.linkedin.com/in/robmercier/" target="_blank"><img src="assets/images/basic_social/colored/32/rounded_square/linkedin.png" alt="https://www.linkedin.com/in/robmercier/" /></a>
                <a rel="noopener noreferrer" id="Twitter" href="https://twitter.com/rmerc00" target="_blank"><img src="assets/images/basic_social/colored/32/rounded_square/twitter.png" alt="https://twitter.com/rmerc00" /></a>
                <a rel="noopener noreferrer" id="GitHub" href="https://github.com/robmercier00" target="_blank"><img src="assets/images/basic_social/colored/32/rounded_square/github_alt.png" alt="https://github.com/robmercier00" /></a>
            </div>
        </div>
    </div>
</header>