<div class="modules">
    <div class="modules-left">
        <a>
            Experience
        </a>
    </div>
    <div class="modules-right">
        <p>
            <span class="jobtitle">Web Developer & Solutions Architect</span>
            <span class="company">Pure Incubation</span><br />
            <span class="dates">July 2014 – Present</span> <span class="location">Topsfield, MA</span><br />
            <div class="explist">
                <ul>
                    <li>Full LAMP stack development for user-facing public web applications, as well as administration consoles and dashboards, API integration with 3rd-party CMS & ESP (Email Service Provider) systems. Client and partner communication for inter-system integrations.</li>
                    <li>Serve as team lead/technology lead for business-facing and public-facing applications.</li>
                    <li>Provide guidance to development teams for new technology adoption, coding best practices, and whole-business application integration. Provide business rules and domain history as relates to application enhancements and bug fixes.</li>
                    <li>Provide architecture guidance and feasability documentation for enhancement requests and new features. Serve as bridge between business owners and development teams to arrive at solutions that best fit business needs, while maintaining development practices.</li>
                    <li>Create proof-of-concept applications using new technologies (microservices concepts, Docker, AWS) and guidelines to development team for application re-architecture and maintenance.</li>
                    <li>Key technologies include PHP, MySQL, HTML, CSS, JavaScript/JQuery/AJAX, XML, Docker, AWS (API Gateway, ECR, ECS, EC2, S3).</li>
                </ul>
            </div>
        <p>
            <span class="jobtitle">Junior Developer</span>
            <span class="company">Pure Incubation</span><br />
            <span class="dates">July 2013 – July 2014</span> <span class="location">Topsfield, MA</span><br />
            <div class="explist">
                <ul>
                    <li>Full LAMP stack development for user-facing public web applications, as well as administration consoles and dashboards</li>
                    <li>Key technologies include PHP, MySQL, HTML, CSS, JavaScript/JQuery/AJAX, XML, Selenium WebDriver, and various free & open source tools</li>
                </ul>
            </div>
        <p>
            <span class="jobtitle">Content & Social Marketing Manager</span>
            <span class="company">Pure Incubation</span><br />
            <span class="dates">June 2011 – July 2013</span> <span class="location">Topsfield, MA</span><br />
            <div class="explist">
                <ul>
                    <li>Campaign planning, content selection, and production of daily e-newsletters</li>
                    <li>Building brand, membership, network opportunities, and other programs supporting the growth of Pure Incubation online communities in the companies’ vertical markets</li>
                    <li>Marketing to online member audiences to grow community, foster ongoing relationships, and create a positive member user experience</li>
                </ul>
            </div>
        <p>
            <span class="jobtitle">Community Specialist</span>
            <span class="company">Sermo</span><br />
            <span class="dates">January 2011 – June 2011</span> <span class="location">Cambridge, MA</span><br />
            <div class="explist">
                <ul>
                    <li>Coordinate and execute email marketing programs to physician community</li>
                    <li>Develop, track, and report performance measurements for community moderation and support</li>
                    <li>Take in and resolve incoming day-to-day email and phone support requests from members of the physician community</li>
                    <li>Stay connected to member satisfaction levels. Proactively work with the necessary departments to improve overall satisfaction</li>
                </ul>
            </div>
        <div class="show-more-experience" *ngIf="!moreExperience">
            <p>
                <span class="jobtitle" (click)="showMoreExperience($event)">
                    See More <fa-icon [icon]="faChevronDown"></fa-icon>
                </span>
            </p>
        </div>
        <div *ngIf="moreExperience">
            <p>
                <span class="jobtitle">Associate Manager of Lead Generation Programs</span>
                <span class="company">Ziff Davis Enterprise</span><br />
                <span class="dates">April 2008 – December 2010</span> <span class="location">Topsfield, MA</span><br />
                <div class="explist">
                    <ul>
                        <li class="subspecs">Lead Generation
                            <ul>
                                <li>Created & edited content for business-to-business marketing newsletters</li>
                                <li>Created & edited HTML & text templates for newsletters</li>
                                <li>Designed newsletter/Website functionality that immediately increased lead conversions by 50%</li>
                            </ul>
                        </li>
                        <li class="subspecs">E-mail Marketing
                            <ul>
                                <li>Implemented global redesign of all Web Buyer's Guide newsletters</li>
                                <li>Created new design for 4 additional Web Buyer's Guide newsletters</li>
                                <li>Improved IP sender reputation for Web Buyer's Guide brand newsletters to an average of 95%</li>
                                <li>Maintained exceptionally low spam/abuse complaint levels for Web Buyer's Guide newsletters</li>
                            </ul>
                        </li>
                        <li class="subspecs">Social Media
                            <ul>
                                <li>Increased Web Buyer's Guide Twitter followers by approximately 32% per month</li>
                                <li>Implemented plan to increase Web Buyer's Guide presence across various social media networks</li>
                                <li>Implemented social media marketing along with newsletter marketing initiatives</li>
                                <li>Utilized various tracking and social marketing tools to further Web Buyer's Guide lead generation and demand generation initiatives</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <p>
                <span class="jobtitle">Owner, Instructor</span>
                <span class="company">All4Strings</span><br />
                <span class="dates">January 2003 – April 2008</span> <span class="location">Woburn, MA</span><br />
                <div class="explist">
                    <ul>
                        <li>Instruct students in electric and acoustic guitar, music theory, audio recording</li>
                        <li>Provide sound reinforcement for a number of bands and/or live music venues</li>
                        <li>Provide audio recording for a number of bands</li>
                        <li>Responsible for all business activities, including marketing, invoicing, accounting, Website design and maintenance</li>
                        <li>Provide a yearly student recital, including booking the recital hall, providing all sound reinforcement equipment and services and setting up post-recital reception</li>
                    </ul>
                </div>
            <p>
                <span class="jobtitle">Live Sound Engineer</span>
                <span class="company">Skybar</span><br />
                <span class="dates">March 2006 – September 2007</span> <span class="location">Somerville, MA</span>
            <p>
                <span class="jobtitle">Assistant Manager</span>
                <span class="company">FYE</span><br />
                <span class="dates">November 2005 – April 2006</span> <span class="location">Medford, MA</span>
            <p>
                <span class="jobtitle">Head Technician</span>
                <span class="company">Alactronics</span><br />
                <span class="dates">September 2000 – December 2002</span> <span class="location">Wellesley, MA</span>
            <p>
                <span class="jobtitle">Assistant Manager</span>
                <span class="company">Record Town/Tape World</span><br />
                <span class="dates">May 1994 – September 1999</span> <span class="location">Nashua, NH</span>
        </div>
    </div>
</div>